@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    
}
header{
    background: blue;
    padding: 2rem
}
header h1{
    color: #2b134b;
    font-size: 3rem;
    text-align: center;
}
main{
    margin: 0 11rem 0 11rem;
    
}
section{
    display: flex;
    justify-content:space-evenly ;
    margin-top: 5rem;
}
.poke{
    width: 20vw;
    box-shadow: 6px 6px 6px 6px #00000020;
    border-radius: 8px;
    padding: 11px;
}
img{
    width: 100%;
}
section h2 {
    margin-bottom: 10px;
}
.descricao{
    margin-bottom: 10px;
}
#cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section#cadastro h2{
    width: 100%;
    text-align: center;
}
section#cadastro form input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}